
<div class="calender-page">
    <div class="calendar-backDrop">
        <div class="calendar-page-main">

            <PowerCalendar
                        @selected={{this.selectedDate}}
                        @onSelect={{this.onSelect}}
                        @center = {{this.center}}
                        @onCenterChange={{perform this.updateMonth}} as |calendar|>
                    <div class="cal-nav">
                        <button type="button" {{on "click" this.prevYear}}><i class="fa-solid fa-angles-left"></i></button>
                        <button type="button" {{on "click" this.prevMonth}}><i class="fa-solid fa-angle-left"></i></button>

                        <h2 class="cal-title">
                        {{this.month}}

                        

                        </h2>

                        <button type="button" {{on "click" this.nextMonth}}><i class="fa-solid fa-angle-right"></i></button>
                        <button type="button" {{on "click" this.nextYear}}><i class="fa-solid fa-angles-right"></i></button>
                    </div>

                    <calendar.Days />
            </PowerCalendar>
            <button class="calendar-page-clsBTN" type="button" {{on "click" @onClose}}><i class="fa-solid fa-circle-xmark"></i></button>
        </div>
    
    </div>
    
</div>
{{yield}}